<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <title>Sagar Gohil</title>

        <link
            href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    </head>

    <body width="100%" style="margin: 20px 0; font-family: 'Plus Jakarta Sans', sans-serif;">
        <div class="main-block" style="background: #fff;">
            <table
                cellspacing="0"
                cellpadding="0"
                width="600px"
                height="auto"
                style="border-spacing: 0; margin: auto; background: #f6f9f8; padding: 0px; overflow: hidden;"
            >
                <tr style="background-color: #134e4a;">
                    <td
                        class="top-logo"
                        style="
              background: url('https://yourdomain.org/images/yoga-banner.jpg') center center no-repeat;
              background-size: cover;
              height: 160px;
            "
                    >
                        <a href="https://sagargohil.dev">
                            <figure style="margin: 0; text-align: center; padding-top: 20px;">
                                <img
                                    src="https://djesdvqq4jn07.cloudfront.net/1747388896636-Copy_of_Sg-removebg-preview.png"
                                    alt="Sagar Gohil Logo"
                                    style="width: 220px;"
                                />
                            </figure>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td class="center-data" style="padding: 40px 60px; color: #2e3a3a;">
                        <p style="font-size: 16px; margin-bottom: 25px;">Namaste
                            {{name}},</p>
                        <p style="font-size: 16px; margin-bottom: 25px;">
                            We noticed a login attempt to your account on
                            <strong>Sagar Gohil Dev</strong>.
                        </p>
                        <p style="font-size: 16px; margin-bottom: 25px;">
                            To proceed, please enter the following verification code:
                            <strong style="font-size: 18px; color: #134e4a;">{{otp}}</strong>
                        </p>
                        <p style="font-size: 16px; margin-bottom: 25px;">
                            If this was not you, please ignore this message and consider updating your password.
                        </p>
                        <p style="font-size: 16px; margin-bottom: 25px;">With care and mindfulness,</p>
                        <p style="font-size: 16px; margin-bottom: 0;">The Sagar Gohil Team</p>
                    </td>
                </tr>

                <tr>
                    <td
                        class="footer-data"
                        valign="bottom"
                        style="
              padding: 40px 40px 20px 40px;
              background-color: #e0f2f1;
              background-image: url('https://yourdomain.org/images/yoga-footer-bg.png');
              background-repeat: no-repeat;
              background-size: cover;
              height: 140px;
              color: #4a4a4a;
              font-size: 15px;
            "
                    >
                        <a href="mailto:hello@sagargohil.dev" style="color: #4a4a4a; text-decoration: none;">
                            <i class="far fa-envelope" style="margin-right: 10px;"></i>
                            hello@sagargohil.dev
                        </a>
                        <br />
                        <p style="margin: 10px 0;">
                            <i class="fal fa-map-marker-alt" style="margin-right: 10px;"></i>
                            Pune, Maharashtra - 411045
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>