<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <title>Sagar Gohil</title>

        <link
            href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    </head>

    <body width="100%" style="margin: 20px 0; font-family: 'Plus Jakarta Sans', sans-serif;">
        <div class="main-block" style="background: #fff;">
            <table
                cellspacing="0"
                cellpadding="0"
                width="600px"
                height="617px"
                style="border-spacing: 0; margin: auto; background: #fbfbfb; padding: 0px; overflow: hidden;"
            >
                <tr style="background-color: #16534b;">
                    <td
                        class="top-logo"
                        style="
              background: url('https://yourdomain.org/images/yoga-banner.jpg') center center no-repeat;
              background-size: cover;
              height: 151px;
            "
                    >
                        <a href="https://sagargohil.dev">
                            <figure style="margin: 0; text-align: center;">
                                <img
                                    src="https://djesdvqq4jn07.cloudfront.net/1747388896636-Copy_of_Sg-removebg-preview.png"
                                    alt="Sagar Gohil Logo"
                                    style="width: 250px; padding-top: 20px;"
                                />
                            </figure>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td class="center-data" style="padding-left: 85px; padding-bottom: 30px; color: #2e3a3a;">
                        <p style="font-size: 16px; margin-bottom: 25px;">Namaste,
                            {{name}}</p>
                        <p style="font-size: 16px; margin-bottom: 25px;">
                            Thank you for signing up with
                            <strong>Sagar Gohil Dev</strong>! To complete your registration, please verify your email address
                            using the code below:
                        </p>
                        <p style="font-size: 18px; font-weight: 600; margin-bottom: 25px; color: #16534b;">{{otp}}</p>
                        <p style="font-size: 16px; margin-bottom: 25px;">
                            Enter this verification code in the app to activate your account. If you didn’t request this, you
                            can safely ignore this message.
                        </p>
                        <p style="font-size: 16px; margin-bottom: 25px;">With gratitude,</p>
                        <p style="font-size: 16px;">Sagar Gohil Team 🧘</p>
                    </td>
                </tr>

                <tr>
                    <td
                        class="footer-data"
                        valign="bottom"
                        style="
              padding: 45px 20px 20px 50px;
              background-color: #e2f1ef;
              background-image: url('https://yourdomain.org/images/yoga-footer-bg.png');
              background-repeat: no-repeat;
              background-size: 100%;
              height: 120px;
            "
                    >
                        <a
                            style="color: #5c5c5c; font-size: 16px; text-decoration: none;"
                            href="mailto:contact@sagargohil.dev"
                        >
                            <i class="far fa-envelope" style="margin-right: 22px;"></i>
                            contact@sagargohil.dev
                        </a>
                        <p style="color: #5c5c5c; font-size: 16px; text-decoration: none;">
                            <i class="fal fa-map-marker-alt" style="margin-right: 22px;"></i>
                            Pune, Maharashtra - 411045
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>